bin/
obj/
.vs/
publish/
Output/
artifacts/
/ClicklessMouse/.avalonia-build-tasks
/ClicklessMouse/.vscode
/.idea/.idea.ClicklessMouse/.idea
/ClicklessMouse/.Directory.Packages.props.kate-swp
ClicklessMouse/artifacts-dotnet-releaser/
